$block = '.badge'

{$block}
    padding 6px 10px
    margin-left 6px

    display inline-block

    border-radius 10px
    background-color #f0f0f0
    color #fff

    line-height 1em

    &_light-blue
        background-color #22b5cd
