$block = '.cart-box'

{$block}
    margin-bottom 50px

    background #fff

    &__bottom
        padding 20px 100px 40px

        text-align right
    &__subtotal
        margin 15px 0

        font-size 16px
        font-weight bold
