$block = '.cart-box'

{$block}
    margin-bottom 50px

    background #fff

    &__coupon
        padding 60px

        background-color #eeec51
        text-align center
    &__coupon-label
        font-size 26px
        vertical-align text-bottom
    &__coupon-input
        margin 0 15px

        display inline-block
        width 200px !important
    &__fast-order
        padding 20px 100px
        border-bottom 1px solid lighten($grey, 20)
    &__bottom
        padding 20px 100px 40px

        text-align right
    &__subtotal
        margin 15px 0

        font-size 16px
        font-weight bold
