$block = '.catalog-filter'

{$block}
    border 1px solid $grey
    background #fff
    color #333

    &__button
        padding 27px 50px

        text-align center

        .btn
            color #000
            &:hover
                color #fff

