$block = '.catalog'
{$block}
    margin-left -12px
    margin-right -11px

    &__items
        clearfix()
    &__item
        padding 0 9px 25px

        display inline-block

        column(1/3, cycle: 3, gutter: 0)
    &__pagination
        padding 20px 0

        text-align center

    &__row
        padding 0 14px 1px
