$block = '.coupon-box'

{$block}
    padding 60px

    background-color #eeec51
    text-align center
    &__label
        font-size 26px
        vertical-align text-bottom
    &__input
        margin 0 15px

        display inline-block
        width 200px !important
