$block = '.detail-view'

{$block}
    margin-bottom 40px
    &:last-child
        margin-bottom 0
    &__item
        margin-bottom 0
    &__title
        margin 0 5px 4px 0

        display inline-block


    &__text
        display inline-block

        font-weight bold
