$block = '.fast-order'

{$block}
    cf()
    &__header
        //
    &__inputs
        clearfix()

        margin 10px 0 20px 0
    &__column
        column(1/3)
    &__bottom
        column(1/3)
        shift(1/3)
