.footer
    padding 40px

    background $footer-background-color

    &__wrap
        margin-left auto
        margin-right auto

        width 100%
        height 100%
        display table

    &__group
        padding-right 20px

        vertical-align top
        display table-cell


    &__item
        padding 5px 0
        
        color #fff

        &_mute
            color $grey
        &_header
            padding-bottom 20px

            font-size larger
            font-weight bold
