$block = '.linked-products'

{$block}
    padding 20px

    background #fff

    &__total
        position relative
        padding 17px 0 0 50px

        &:before
            position absolute
            top 55px
            left 0

            transform translateY(-50%)

            display block

            font-size 30px

            content '='

    &__total-title
        //
    &__total-price
        padding 10px 0 15px

        font-size 1.8em
        font-weight bold
