.main
    background $background-color

    &__hit-slider
        padding 20px 0
    &__new-slider
        padding 20px 0
    &__recently-viewed-slider
        padding 40px 0 50px 0
        background #fff
    &__best-brands
        padding 50px 0
    &__breadcrumbs
        padding 28px 0 15px 0
    &__title
        padding 0 0 10px
    &__product-description
        padding 0 0 30px
    &__linked-products
        padding 0 0 30px
    &__product-tabs
        padding 0 0 50px
