$b = '.product-label'

{$b}
    position relative

    width 50px
    height 50px

    color #fff

    font-family $heading-fonts
    font-weight 100
    text-transform uppercase
    text-align center

    border-radius 50%

    pointer-events none

    &__text
        line-height 50px

    &_left
        margin-left -6px
        margin-right 0
    &_discount
        background #ffe800
    &_new
        background #93cd22
    &_hit
        background #f54d19

    &_slim
        height auto
        border-radius 25px

        {$b}__text
            line-height 2em
