.product-price
    padding-right .15em

    display inline-block

    color black

    font-weight 700
    line-height 1

    &_old
        position relative
        vertical-align top

        color $red
        font-size 13px
        font-weight 400

        &:after
            position absolute
            left 0
            right 0
            top 50%
            display block
            width 100%
            height 1px
            margin-top -1px
            background $red
            content ''
