.product-reviews
    cf()
    &__body
        column(3/4)
    &__side
        column(1/4)

    &__stat
        margin 20px 0
    &__hint
        color $grey

.product-review-item
    position relative
    margin 30px 0 0 0
    padding 0 0 30px

    border-bottom 1px solid lighten($grey, 20)

    &:first-child
        margin-top 0
        padding-top 0
    &:last-child
        margin-bottom 0
        padding-bottom 0

        border-bottom none

    &__stat
        margin-bottom 10px
    &__rating-label
        margin-right 10px
        margin-left 8px
        vertical-align middle
        color $grey
    &__delivery
        vertical-align middle
        color $grey
    &__title
        font-weight bold
        display inline-block
        margin-right 5px
        margin-bottom 4px
    &__text
        display inline-block
        color #666
        line-height 18px
    &__footer
        margin-top 15px
        color $grey
.product-review-user
    margin-bottom 18px

    &__name
        font-size 15px
