$block = '.rating'

{$block}
    position relative

    display inline-block

    padding 0 4px

    color #e4e4e4

    border-width 2px
    border-style solid

    &_1
        border-color #e35b40
        color $black
    &_2
        border-color #e98f1a
        color $black
    &_3
        border-color #e4d100
        color $black
    &_4
        border-color #b2ca0c
        color $black
    &_5
        border-color #93cd22
        color $black
