$block = '.toolbar-button'

toolbar-icon($icon)
    padding-left 36px
    background url(../images/$icon.png) no-repeat 10px center

{$block}
    position relative
    padding-left 10px
    padding-right 10px

    display inline-block

    color #fff

    &:hover
    &_active
        color $active-link-color
        cursor pointer

    &__label
        display inline-block
        line-height initial

    &_icon_compare
        toolbar-icon(icon-compare)
    &_icon_favorite
        toolbar-icon(icon-heart)
        padding-left 33px
    &_icon_user
        toolbar-icon(icon-user)

    &_dropdown
        padding-right 20px
        &:after
            position absolute
            padding-left 6px
            width 12px
            height 12px
            top calc(50% - 5px)
            
            background url(../images/icon-arrow_down.png) no-repeat center
            content ''

        &:hover
            > .dropdown-menu
                display block
