$block = '.toolbar-button'

toolbar-icon($icon)
    padding-left 26px
    background url(../images/$icon.png) no-repeat 0 center

{$block}
    position relative
    padding-left 10px
    padding-right 10px

    display inline-block

    color #fff

    &:hover
    &_active
        color $active-link-color
        cursor pointer

    &_compare
        toolbar-icon(icon-compare)
    &_favorite
        toolbar-icon(icon-heart)
        padding-left 23px

    &__icon
    &__label
        display inline-block
