extends page
block page_content
    .main__navbar
        include ../blocks/navbar
    .main__header
        include ../blocks/header
    block content
    .main__footer
        include ../blocks/footer
