extends page
block page_content
    .main__navbar
        include ../blocks/navbar
    .main__header
        include ../blocks/header
    block content
    block recently_viewed
        .main__recently-viewed-slider
            .grid
                include ../blocks/recently-viewed-slider
    block best_brands
        .main__best-brands.grid
            include ../blocks/best-brands
    block footer
        .main__footer
            include ../blocks/footer
