extends page
block page_content
    .main__navbar
        include ../blocks/navbar
    .main__header
        include ../blocks/header
    block content
    .main__recently-viewed-slider
        .grid
            include ../blocks/recently-viewed-slider
    .main__best-brands.grid
        include ../blocks/best-brands
    .main__footer
        include ../blocks/footer
