.header.grid
    .header__item.header-logo
        a(href=jv0).header__logo-link
            img(src='assets/images/logo.png').header-logo-image
    .header__item.header-description
        | Магазин бытовой техники
    .header__item.header-phone
        .header__phone 8 (456) 123-45-67
        a(href=jv0).header-phone-callback Заказать звонок
    .header__item.header-cart
        .header-cart__icon
            .badge.badge_light-blue 3
        .header-cart__text-wrap
            .header-cart__label
                |Моя корзина
                .header-cart__cart-toggle
            .header-cart__cost
                .header-cart__cost-title Сумма:
                .header-cart__cost-price
                    span 1 345
                    +ruble()
