include ../helpers/mixins/promo-slider
+promo-slider().promo-slider_main
    img(src='assets/images/content/slider/1.png')
    img(src='assets/images/content/slider/1.png')
    img(src='assets/images/content/slider/1.png')
    img(src='assets/images/content/slider/1.png')
