.search-bar
    .grid
        .search-bar__wrapper
            a(href=jv0, data-toggle='#menu-catalog').search-bar__catalog-button &#9776; Каталог товаров
            input(type='text').search-bar__input
        +menu-catalog()#menu-catalog
