.search-bar
    .search-bar__wrapper
        a(href=jv0, data-toggle='#menu-catalog').search-bar__catalog-button
            | Каталог товаров
        input(type='text', placeholder='Suns meet with definition at the greatly exaggerated center!').search-bar__input
    +menu-catalog()#menu-catalog
