// fonts
$text-fonts = 'PT Sans', Tahoma, sans-serif
$heading-fonts = $text-fonts

// grid
$module-width = 80px
$module-gap = 20px

// navbar
$navbar-background-color = #2e2e2e
$navbar-height = 50px

// common
$active-link-color = #22b5cd
$background-color = #f4f4f4
