// fonts
$text-fonts = 'PT Sans', Tahoma, sans-serif
$heading-fonts = $text-fonts

// grid
$module-width = 80px
$module-gap = 20px

// navbar
$navbar-background-color = #2e2e2e
$navbar-height = 50px

// common
$active-link-color = #22b5cd
$background-color = #f4f4f4
$light-green = #93cd22
$grey = #b8b8b8
$light-grey = lighten($grey, 5)
$red = #e4003a

// footer
$footer-background-color = #2e2e2e

// .btn
$button-success-color = #93cd22
$button-primary-color = $active-link-color
