extends ../layouts/page

block head
    - pageTitle = 'Блоки'

block page_content

    .grid
        a(href='index.html') Радар

    .demo-blocks

        #navbar(data-collapse='persist')
            .grid
                .h3 Меню гостя
            .demo-block
                - var is_guest = true
                include ../blocks/navbar

        #navbar-user(data-collapse='persist')
            .grid
                .h3 Меню пользователя
            .demo-block
                - var is_guest = false
                include ../blocks/navbar

        #header(data-collapse='persist')
            .grid
                .h3 Хедер
            .demo-block.demo.demo-block_gray
                include ../blocks/header

        #header(data-collapse='persist')
            .grid
                .h3 Строка поиска
            .demo-block
                include ../blocks/search-bar

        #menu-catalog-block(data-collapse='persist')
            .grid
                .h3 Каталог товаров в меню
            .demo-block
                .grid
                    +menu-catalog(true)(style='position: relative;')

        #promo-slider(data-collapse='persist')
            .grid
                .h3 Главный слайдер
            .demo-block
                .grid
                    include ../blocks/promo-slider

        #product-vertical(data-collapse='persist')
            .grid
                .h3 Вертикальная карточка товара
            .demo-block
                .grid
                    .cols
                        .col.grid-module-3
                            include ../helpers/mixins/product-v
                            +product-v({
                                thumbnail: 'assets/images/content/product-vertical/1.png',
                                title: 'Смартфон Sony Xperia V (LT25i Black)',
                                price: '12 990',
                                oldPrice: '15 990'
                            })
                        .col.grid-module-3
                            include ../helpers/mixins/product-v
                            +product-v({
                                thumbnail: 'assets/images/content/product-vertical/2.png',
                                title: 'Samsung Galaxy Alpha SM-G850F',
                                price: '23 700',
                                is_hit: true
                            }).product-vertical_hover
                        .col.grid-module-3
                            include ../helpers/mixins/product-v
                            +product-v({
                                thumbnail: 'assets/images/content/product-vertical/3.png',
                                title: 'Transcend TS*USDHC10',
                                price: '1 234',
                                is_new: true,
                                in_stock: false
                            })
                        .col.grid-module-3
                            include ../helpers/mixins/product-v
                            +product-v({
                                thumbnail: 'assets/images/content/product-vertical/4.png',
                                title: 'Робот-пылесос iClebo Arte',
                                price: '24 500'
                            })

        #hit-slider(data-collapse='persist')
            .grid
                .h3 Слайдер хитов
            .demo-block.demo-block_gray
                .grid
                    include ../blocks/hit-slider

        #new-slider(data-collapse='persist')
            .grid
                .h3 Слайдер новинок
            .demo-block.demo-block_gray
                .grid
                    include ../blocks/new-slider

        #recently(data-collapse='persist')
            .grid
                .h3 Недавно просмотренные
            .demo-block.demo-block_white
                .grid
                    include ../blocks/recently-viewed-slider

        #best-brands(data-collapse='persist')
            .grid
                .h3 Лучшие бренды
            .demo-block.demo-block_gray
                .grid
                    include ../blocks/best-brands

block scriptsAfter
    script(src='assets/scripts/libs/jQuery-Collapse/src/jquery.collapse.js')
    script(src='assets/scripts/libs/jQuery-Collapse/src/jquery.collapse_storage.js')
