extends ../layouts/page

block head
    - pageTitle = 'Блоки'

block page_content

    .grid
        a(href='index.html') Радар

    .demo-blocks

        #navbar(data-collapse='persist')
            .grid
                .h3 Меню гостя
            .demo-block
                - var is_guest = true
                include ../blocks/navbar

        #navbar-user(data-collapse='persist')
            .grid
                .h3 Меню пользователя
            .demo-block
                - var is_guest = false
                include ../blocks/navbar

        #header(data-collapse='persist')
            .grid
                .h3 Хедер
            .demo-block.demo.demo-block_gray
                include ../blocks/header

        #header(data-collapse='persist')
            .grid
                .h3 Строка поиска
            .demo-block
                include ../blocks/search-bar

        #menu-catalog-block(data-collapse='persist')
            .grid
                .h3 Каталог товаров в меню
            .demo-block
                .grid
                    +menu-catalog(true)(style='position: relative;')

        #promo-slider(data-collapse='persist')
            .grid
                .h3 Главный слайдер
            .demo-block
                .grid
                    include ../blocks/promo-slider

block scriptsAfter
    script(src='assets/scripts/libs/jQuery-Collapse/src/jquery.collapse.js')
    script(src='assets/scripts/libs/jQuery-Collapse/src/jquery.collapse_storage.js')
