extends ../layouts/default

block head
    - pageTitle = 'Каталог - список';


block content
    .main__search.grid
        include ../blocks/search-bar
    .main__breadcrumbs.grid
        +breadcrumbs(['Главная', 'Телефония, MP3-плееры, GPS', 'Телефоны'])
    .main__title.grid
        h1.h2 Мобильные телефоны
    .main__catalog.grid
        .cols
            .col.grid-module-3
                include ../blocks/catalog-filter
            .col.grid-module-9
                .catalog-controls
                    .catalog-controls__col
                        +sorter()
                    .catalog-controls__col.catalog-controls__col_right
                        include ../blocks/view-switch
                .catalog
                    .catalog__items
                        each i in Array(6)
                            .catalog__row
                                +product-h({
                                    thumbnail: 'assets/images/content/product-vertical/1.png',
                                    title: 'Смартфон Sony Xperia V (LT25i Black)',
                                    price: '12 990',
                                    oldPrice: '15 990',
                                    is_hit: true
                                })
                    .catalog__pagination
                        include ../blocks/pagination
