extends ../layouts/default

block head
    - pageTitle = 'Главная';


block content
    .main__search.grid
        include ../blocks/search-bar
    .main__promo-slider.grid
        include ../blocks/promo-slider
    .main__hit-slider.grid
        include ../blocks/hit-slider
    .main__new-slider.grid
        include ../blocks/new-slider
