extends ../layouts/radar

block content
    table.radar
        tr
            th(colspan='2') Технические
        tr
            td.red
            td
                a(href='_blocks.html') Blocks
        tr
            th(colspan='2') Страницы
        tr
            td.yellow
            td
                a(href='home.html') Главная
