extends ../layouts/radar

block content
    table.radar
        tr
            th(colspan='2') Технические
        tr
            td.red
            td
                a(href='_blocks.html') Blocks
        tr
            th(colspan='2') Страницы
        tr
            td.yellow
            td
                a(href='home.html') Главная
        tr
            td.yellow
            td
                a(href='catalog-grid.html') Каталог (грид)
        tr
            td.yellow
            td
                a(href='catalog-list.html') Каталог (список)
        tr
            td.yellow
            td
                a(href='product.html') Карточка товара
        tr
            td.yellow
            td
                a(href='cart.html') Корзина
        tr
            td.yellow
            td
                a(href='order.html') Оформление заказа
