$block = '.btn_login-button'

{$block}
    display inline-block
    padding 8px 15px 8px 30px

    background-color #000
    background url(../images/icon-login.png) no-repeat 10px center

    color: #fff

    line-height 1em

    &:hover
    &_active
        background-color $active-link-color


