mixin cart-item($data, $static)
    - $data = $data || {}
    - $data.thumbnail = $data.thumbnail || 'http://placehold.it/180x200'
    - $data.title = $data.title || 'Humani generis de regius'
    - $data.price = $data.price || 12304
    - $data.category = $data.category || 'Мобильные телефоны'
    - $data.quantity = $data.quantity || 1
    - $static = ($static === undefined ? false : $static)

    .cart-item.js-cart__item
        input(type="hidden", value=$data.price).js-cart__item-price
        .cart-item__info
            .cart-item__thumbnail
                img(src=$data.thumbnail).cart-item__img
            .cart-item__content
                .cart-item__category= $data.category
                .cart-item__title
                    a(href=jv0).cart-item__link= $data.title
        .cart-item__price= $data.price
            +ruble()
        .cart-item__quantity
            - if ($static)
                =$data.quantity
            - else
                +spinput($data.quantity).js-cart__item-quantity
        .cart-item__summ= $data.price
            +ruble()
            - if (!$static)
                .cart-item__action
                    a(href=jv0).js-cart__delete
                        i.fa.fa-fw.fa-trash-o
