mixin product-label(label, options)
    .product-label(class = options.slim == true ? 'product-label_slim product-label_#{options.theme}' : 'product-label_#{options.theme}')
        .product-label__text=label
