mixin spinput(value, options)
	- var spinputMod = '';
	- if (options && options.rubber) spinputMod = 'spinput_rubber';
	- if (options && options.mod) spinputMod = spinputMod + ' spinput_' + options.mod;

	span.spinput.js-spinput(data-min-value=1 data-max-value=99 class=[spinputMod])
		span.spinput__minus.js-spinput__minus
		input.spinput__value(type=text value=value)&attributes(attributes)
		span.spinput__plus.js-spinput__plus
